body {
    background: rgb(255, 217, 146)
}

.container {
    margin: 15px;
}

.burgImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

h1 {
    text-align: center;
    border: 1px dashed black;
    padding: 10px;
    margin: 20px;
}

.uneaten {
    float: left;
    text-align: center;
    padding: 10px;
}

.eaten {
    float: left;
    text-align: center;
    padding: 10px;
}

.add {
    text-align: center;
    padding: 10px;
}

.submitBtn {
    margin: 10px;
    border-radius: 5px;
}

li {
    list-style: none;
    margin: 5px;
    font-size: 20px;
}

.change-devoured {
    font-size: 15px;
    margin-left: 5px;
    border-radius: 5px;
}